body {
    font-family: Arial, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color, #f5f5f5); /* Ваш цвет по умолчанию */
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color, #333); /* Ваш цвет по умолчанию */
}

h1 {
    text-align: center;
    color: var(--tg-theme-link-color, #0078d4); /* Ваш цвет по умолчанию */
}

#form, #keysList {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: var(--tg-theme-bg-color, #fff); /* Ваш цвет по умолчанию */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="button"],
select,
textarea{
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
}

.item {
    width: 85%;
    background-color: var(--tg-theme-secondary-bg-color, #f5f5f5);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    resize: none;
}

select {
    appearance: none;
}

.button {
    width: 100%;
    background-color: var(--tg-theme-button-color, #0078d4); /* Ваш цвет по умолчанию */
    color: var(--tg-theme-button-text-color, #fff); /* Ваш цвет по умолчанию */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #00578f;
}

.category, .tag {
    background-color: var(--tg-theme-link-color, #0078d4); /* Ваш цвет по умолчанию */
    color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.lnk{
    color: var(--tg-theme-link-color, #0078d4);
}

.img{
    display: inline-block;
    width: 30%;

}

#dataDisplay {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dataDisplay h2 {
    color: #333;
}
